$white: #ffffff;
$purple: #3b2e58;
$deluge: #7c65ae;
$cod-gray: #171717;
$mine-shaft: #2F2F2F;
$green: #008800;
$equator:#E5C365;
$red-alert:#ff0f0f;
$lochmara:#007ACC;
$endeavour: #0062A3;
$cornflower-blue:#75b6e7;
