$purple: #3b2e58;
$cod-gray: #171717;
$white: #ffffff;


.JsonParser {
  width: 100%;

  .JsonParser-textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .error-box {
    outline-color: red;
    border:1px solid red;
  }

  .error-msg {
    color: red;
    padding: 5px 0;
    font-weight: bold;
  }
}



