.App-body{
  > * {
    margin: 10px 5px;
  }

  .flex-container {
    display: flex;
  }


  .OutputContainer{
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid black;
    background: rgba(241, 241, 195, 0.5);
  }
}
